Checks: >
  -*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  performance-*,
  bugprone-*,
  portability-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-non-const-global-variables

CheckOptions:
  # Indentation / braces / formatting
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MemberCase
    value: camelBack
